- @posts.each do |post|
  %div.post{:style => "margin-bottom: 20px;"}
    %h2
      %a{:href => post_path(post)}
        = post.title
    %p.muted
      %small
        = l post.created_at
    - c = post.body.match /(.*)<!--more-->(.*)/m
    - if c.nil?
      = raw post.body
    - else
      = raw c[1]
      %p
        - post.categories.each do |cat|
          %small.muted
            = cat.name
        %span.pull-right
          %a{:href => post_path(post)}
            = t(:read_more)
    %hr
%div.pagination-centered
  = will_paginate @posts, :renderer => BootStrapLinkRenderer

- content_for(:sidebar) do
  %div
    %h4.muted
      = t(:categories)
    %hr{:style => "margin: 5px 0px;"}
    %ul.categories
      - @categories.each do |cat|
        %li
          %a{:href => category_path(cat)}
            = cat.name
