- @posts.each do |post|
  %div.post{:style => "margin-bottom: 20px;"}
    %h2
      %a{:href => posts_path(post)}
        = post.title
    %p.muted
      = post.created_at.to_s
    - c = post.body.match /(.*)<!--more-->(.*)/m
    - if c.nil?
      = raw post.body
    - else
      = raw c[1]
      %a{:href => posts_path(post)}
        Read more!

- content_for(:sidebar) do
  %div
    %h4.muted
      Categories
    %hr{:style => "margin: 5px 0px;"}
    %ul.categories
      - @categories.each do |cat|
        %li
          %a{:href => category_path(cat)}
            = cat.name
