%h2
  = @post.title
- c = @post.body.match /(.*)<!--more-->(.*)/m
- if c.nil?
  = raw @post.body
- else
  = raw c[1]
  = raw c[2]
%hr
%div#comments
  - if @post.comments.none?
    %p{:style => "text-align: center;"}
      %strong
        There isn't any comments any
  - else
    - @post.comments.each do |comment|
      %div.comment-container
        %p
          %span.text-info
            %strong
              = comment.author.name
          %span.muted
            %small
              = l comment.created_at
        %div.comment{:style => "border-bottom: 1px solid #eeeeee; padding-bottom: 10px;"}
          = comment.body
%div.comment-editor-container
  %div#notification
    %h3#notification_message
      This name is not available
  - if not user_signed_in?
    %div.comment-tab#warning
      %div{}
        %p{:style => "text-align: center;"}
          = t(:sign_in_to_comment)
        %div#uLogin{"data-ulogin" => "display=panel;fields=first_name,last_name,email,nickname;providers=google,facebook,twitter,vkontakte,linkedin;hidden=yandex,livejournal,openid,lastfm,liveid,soundcloud,steam,flickr,vimeo,youtube,webmoney;redirect_uri=;callback=uLoginAuth", :style => "margin: 0 auto; width: 252px;"}
    %div.comment-tab.comment-hidden#editor
      = render "comment"
    %div.comment-tab.comment-hidden
  - else
    %div.comment-tab
      = render "comment"